@model IEnumerable<BlogProject.Models.BlogPostModel>
@{
    ViewData["Title"] = "Home Page";
}

@if(Model.Count() > 0)
{
    <div class="text-center">
        @foreach (var item in Model)
        {
            <div class="post-container w-50">
                <div class="author">
                    <h5>Author: @Html.DisplayFor(modelItem => item.Author.Nickname)</h5>
                    <span class="post-id">@Html.DisplayFor(modelItem => item.CreatedAt)</span>
                </div>
                <div class="post-content">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    <span>@Html.DisplayFor(modelItem => item.Content)</span>
                    <hr />
                    <h6>Tag: @Html.DisplayFor(modelItem => item.Tag)</h6>
                </div>
            </div>
            
        }
    </div>
}
else
{
    <h4>No posts added yet.</h4>
}

