@model BlogProject.Data.ApplicationUser
@inject Microsoft.AspNetCore.Identity.UserManager<BlogProject.Data.ApplicationUser> _userManager

<div class="card">
    <div class="card-body">
        <h2 class="card-title">User Details</h2>

        <dl class="row">
            <dt class="col-sm-2">First Name:</dt>
            <dd class="col-sm-10">@Model.FirstName</dd>

            <dt class="col-sm-2">Last Name:</dt>
            <dd class="col-sm-10">@Model.LastName</dd>

            <dt class="col-sm-2">Email:</dt>
            <dd class="col-sm-10">@Model.Email</dd>

            <dt class="col-sm-2">Nickname:</dt>
            <dd class="col-sm-10">@Model.Nickname</dd>


            <dt class="col-sm-2">Roles:</dt>
            <dd class="col-sm-10">
                @foreach (var role in await _userManager.GetRolesAsync(Model))
                {
                    <span>@role</span>
                }
            </dd>
        </dl>

        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
